{% extends "base.html.twig" %}

{% block title %}AppBundle:Crud:index{% endblock %}

{% block body %}
    <h1>Welcome to the Crud:index page</h1>
    {% if error is defined %}
        <div class="is-size-4 has-text-danger has-text-weight-semibold">{{ error }}</div>
    {% endif %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
