{% extends "base.html.twig" %}

{% block title %}AppBundle:Crud:index{% endblock %}

{% block body %}
    {% if error is defined %}
        <div class="is-size-4 has-text-danger has-text-weight-semibold">{{ error }}</div>
    {% endif %}

    <div class="columns is-centered">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    </div>
{% endblock %}
