{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <section class="hero is-medium is-success is-bold">
        <div class="hero-body">
            <div>
                <h1 class="title">
                    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
                </h1>
            </div>
        </div>
    </section>

    {% if targetUrl %}
        <section class="hero is-medium is-warning is-bold">
            <div class="hero-body">
                <div>
                    <h1 class="title">
                        <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
                    </h1>
                </div>
            </div>
        </section>

    {% endif %}
{% endblock fos_user_content %}
