body, html{
    font-family: "Zilla Slab", serif;
}
.post, nav, .level{
    background-color: white;
}

.post{
    padding-bottom: 20px;
    margin: 20px;
}

nav{
    padding: 25px;
    border-bottom: 1px solid #eeeeee;
}

.media-content{
    margin-top: 10px;
}

.article{
    background-color: white;
    border-radius: 3px;
    padding: 30px;
}

.article-container, .media{
    border-bottom: 5px solid;
    border-color: #e0e0e0;
    border-width: 1px;
}

.footer{
    background-color: white;
}